{% extends 'base.html' %}
{% block title %} About {% endblock title %}
{% block body  %}
<div class="container w-75 p-3">

        <br>
        <br>

        <div class="alert alert-info " role="alert">
            <h4 class="alert-heading text-center">Welcome to ToDo Web App!</h4> <br><br>
            <p>
                Our app is designed to help you manage your tasks efficiently and effectively. Whether you have a busy work schedule or just need help remembering all of your personal errands, our app can help you stay organized and on top of your to-do list.

                <br>
                <br>
                
                With our easy-to-use interface, you can quickly create new tasks, set due dates and reminders, and mark tasks as complete when you finish them. 
                You can also categorize your tasks to help you prioritize and organize them based on importance or urgency.
                
                <br>
                <br>
        
                Our app is accessible from any device with an internet connection, so you can keep track of your tasks wherever you go. 
                You can also share your task lists with others, so you can collaborate on projects or delegate tasks to family members or coworkers.
                <br>
                <br>
                In addition, our app offers advanced features such as task prioritization, progress tracking, and reporting. 
                You can analyze your task data to identify patterns and trends, so you can optimize your productivity and time management.
                <br>
                <br>
        
                Thank you for choosing our ToDo web app. We hope it helps you stay organized, focused, and productive!
            </p>
        </div>


{% endblock body  %}
